@font-face {
    font-family: Gloock;
    src: url(./Gloock-Regular.ttf);
}

* {
    --light-background: #ddd0c7;
    --dark-background: #332c27;
    --accent: #58724f;
    --font-sans: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    --font-serif: Gloock, Georgia, 'Times New Roman', Times, serif;
}