@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Gloock;
    src: url(/Gloock-Regular.ttf);
}

@font-face {
    font-family: 'Red Hat Display';
    src: url(/RedHatDisplay[wght].woff2);
}

h2 {
    @apply text-2xl md:text-3xl font-bold mb-5
}

h3 {
    @apply text-xl md:text-2xl font-bold mb-4
}

p a {
    @apply underline hover:text-secondary-500 dark:hover:text-secondary-300
}