@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'IBM Plex Sans';
        src: url('/IBM Plex Sans Var-Roman.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Red Hat Display';
        src: url(/RedHatDisplay[wght].woff2) format('woff2');
    }

}

body {
    @apply font-sans text-sm sm:text-base text-gray-750 bg-white dark:text-gray-150 dark:bg-gray-850
}

h1 {
    @apply font-display font-bold text-2xl sm:text-3xl md:text-4xl leading-tight
}

h2 {
    @apply text-xl sm:text-xl md:text-2xl font-bold font-display mb-5 leading-tight
}

h3 {
    @apply text-lg sm:text-lg md:text-xl font-bold font-display mb-4 leading-tight
}

.text-caption {
    @apply text-sm md:text-base text-gray-500 dark:text-gray-350
}